<div class="routines-wrapper">
    <div 
    #routineCard
    appObserveElement
    (intersection)="isOnView($event, routineCard)"
    [threshold]=".2"
    class="routine hide" 
    *ngFor="let routine of routines">
        <app-routine-card
        [imgSource]="routine.imgSource"
        [attributionName]="routine.attributionName"
        [attributionLink]="routine.attributionLink"
        [attributionSite]="routine.attributionSite"
        [attributionSiteLink]="routine.attributionSiteLink"
        [routineName]="routine.name"
        [description]="routine.description"
        [buttonLink]="routine.btnPath"></app-routine-card>
    </div>
</div>
<div [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</div>
<div class="create-your-own-wrapper">
    <p 
    #text
    appObserveElement
    (intersection)="isOnView($event, text)"
    [threshold]=".7" class="create-your-own-text hide">None fit your needs?</p>
    <app-get-started-btn path="../routineBuilder" btnText="Create your own"></app-get-started-btn>
</div>