<div class="about-us-wrapper">
    <img class="logo" src="../../assets/icons/icons8-gym-100.png" alt="logo">
    <div class="about-us-info">
        <h2 class="about-us-tittle">About Us</h2>
        <p>We are a team that aims to help people achieve their dream goals in all fitness related. With 10+ years in the market, we guarantee visible results in less time. We also aim to provide free resources like routines, advice on dieting, and a free routine builder with thousand of exercises to choose from.</p>
        <app-get-started-btn path="../contact" class="btn" btnText="Contact Us"></app-get-started-btn>
    </div>
</div>
