.about-us-wrapper {
    display: flex;
    width: 60%;
    padding-block: 10em;
    margin: 1em auto;
    align-items: center;
    gap: 2em;
    color: var(--primary-dark);
    position: relative;
    transition: transform .4s, opacity .6s ease-in;

    &::before {
        content: "";
        position: absolute;
        height: 10%;
        width: 50%;
        top: 10%;
        transform: skewX(-15deg);
        background-color: var(--primary-dark);
        transition: all .2s;
    }

    &::after {
        content: "";
        position: absolute;
        height: 10%;
        width: 50%;
        bottom: 10%;
        transform: skewX(-15deg);
        background-color: var(--primary-dark);
        transition: all .2s;
    }

    &:hover::before, &:hover::after {
        width: 100%;
        transition: all .2s;
    }
}

.about-us-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
}

.logo {
    width: 20%;
}

.btn {
    display: flex;
}

.hide {
    opacity: 0;
    transform: translateX(-10%);
}

@media (max-width: 1300px) {
    .about-us-wrapper {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .about-us-wrapper {
        flex-direction: column;
        padding-block: 3em;

        &::before, &::after {
            display: none;
        }
    }

    .about-us-info {
        text-align: center;
        gap: 1em;
    }

    .btn {
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .about-us-wrapper {
        justify-content: center;
    }
}

@media (max-height: 700px) {
    .about-us-wrapper::before, .about-us-wrapper::after {
        display: none;
    } 
}

@media (max-height: 750px) and (max-width: 800px) {
    .about-us-wrapper {
        flex-direction: row;
    }

    .about-us-info {
        text-align: left;
    }

    .btn {
        margin-left: 0;
    }
}

@media (prefers-reduced-motion) {
    .about-us-wrapper {
        transition: none;

        &::before, &::after {
            width: 100%;
            transition: none;
        }
    }
}