.tables-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin: 1em;
}

.export-pdf-btn-container {
    padding: 1em 1em 1em 2em;
    box-shadow: inset 0 0 .5em var(--primary-dark);
}

.export-pdf-btn {
    padding: 1em;
    background-color: var(--primary-red);
    color: var(--primary-white);
    border: none;
    border-radius: 2em;
    box-shadow: 0 0 .5em var(--primary-dark);
    font-weight: 600;
    transition: all .2s;

    &:hover {
        background-color: var(--primary-white);
        color: var(--primary-red);
        transition: all .2s;
    }
}

.table-wrapper {
    transition: transform .4s, opacity .6s ease-in;
}

.table-wrapper:nth-child(2),
.table-wrapper:nth-child(4),
.table-wrapper:nth-child(6) {
    transition-delay: .1s;
}

.hide {
    opacity: 0;
    transform: translateX(-10%);
}

@media (max-width: 900px) {
    .tables-container {
        grid-template-columns: 1fr;
    }

    .table-wrapper:nth-child(2),
    .table-wrapper:nth-child(4),
    .table-wrapper:nth-child(6) {
    transition-delay: 0s;
    }
}

@media (prefers-reduced-motion) {
    .table-wrapper {
        transition: none;
    }
}