<header class="hero">
    <div class="hero-wrapper">
        <div>
            <app-navbar></app-navbar>
        </div>
        <div class="hero-info">
            <div class="hero-text-wrapper">
                <h1 
                #primaryHeader
                appObserveElement 
                (intersection)="isOnView($event, primaryHeader)" 
                [threshold]="0" 
                class="primary-header hide">
                    Zeus Gym
                </h1>
                <p 
                #headerLeyend
                appObserveElement 
                (intersection)="isOnView($event, headerLeyend)" 
                [threshold]="0" 
                class="header-leyend hide">
                    Get fitter, Get stronger, Get healthier
                </p>
            </div>
            <div 
            #getStartedBtn
            appObserveElement 
            (intersection)="isOnView($event, getStartedBtn)" 
            [threshold]="0" 
            class="hero-btn hide">
                <app-get-started-btn path="premadeRoutines" btnText="Get Started"></app-get-started-btn>
            </div>
        </div>
    </div>
</header>