

.hero {
    background: url("../../assets/pexels-leon-ardho-1552252.jpg");
    background-size: cover;
    background-color: var(--primary-dark);
    padding: 1em;
    color: var(--primary-white);
    min-height: 100vh;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    width: var(--page-width);
    margin-inline: auto;
    min-height: inherit;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    text-align: center;
}

.hero-text-wrapper {
    & > * {
        margin: 4rem;
    }
}

.primary-header {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: 700;
    filter: drop-shadow(5px 5px 0 black);
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fff, #393939);
    transition: transform .4s, opacity .6s ease-in;
}

.header-leyend {
    position: relative;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .25rem;
    line-height: 2;
    text-transform: uppercase;
    transition: transform .4s, opacity .6s ease-in;

    &::before, &::after {
        content: "";
        display: block;
        border-block: 1px solid var(--primary-white);
        width: 80%;
        margin: 0 auto;
    }
}

.hero-btn {
    margin-top: 5%;
    font-size: 2.5rem;
    transition: transform .4s, opacity .6s ease-in;
}

.hide {
    opacity: 0;
    transform: translateY(100%);
}

@media (max-width: 700px) {
    .hero-btn {
        font-size: 2rem;
    }

    .primary-header {
        font-size: 4rem;
    }
}

@media (max-height: 700px) {
    .hero-info {
        margin: 0 auto;
    }

    .hero-wrapper {
        margin: 0 auto;
    }

    .hero-text-wrapper {
        & > * {
            margin: 2rem;
        }
    }
    
    .hero-btn {
        font-size: 1.5rem;
    }

    .primary-header {
        font-size: 3rem;
    }
}

@media (max-height: 700px) and (min-width: 700px) {
    .hero-btn {
        font-size: 2rem;
    }

    .primary-header {
        font-size: 4rem;
    }
}

@media (max-height: 500px) and (max-width: 850px) {
    .primary-header {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    .hero-btn {
        font-size: 1.5rem;
    }

    .hero-text-wrapper {
        & > * {
            margin: 1rem;
            text-wrap: balance;
        }
    }

    .hero-wrapper {
        width: 100%;
    }
}

@media (prefers-reduced-motion) {
    .primary-header, .header-leyend, .hero-btn {
        transition: none;
    }
}