

.hero {
    background: url("../../assets/pexels-leon-ardho-1552252.jpg");
    background-size: cover;
    padding: 1em;
    color: #fff;
    height: 100vh;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    width: var(--page-width);
    margin-inline: auto;
    height: 100%;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto auto;
    text-align: center;
}

.logo {
    align-self: center;
    height: 15em;
    
}

@media (max-width: 1300px) {
    .hero-info {
        flex-direction: column;
        align-items: center;
    }
}

