<header class="hero">
    <div class="hero-wrapper">
        <app-navbar></app-navbar>
        <div class="hero-info">
            <div class="hero-text-wrapper">
                <h1 class="primary-header">Zeus Gym</h1>
                <p class="header-leyend">Get fitter, Get stronger, Get healthier</p>
            </div>
            <div class="hero-btn">
                <app-get-started-btn path="premadeRoutines" btnText="Get Started"></app-get-started-btn>
            </div>
        </div>
    </div>
</header>