
<div 
#navWrapper
class="nav-wrapper hide"
appObserveElement
(intersection)="isOnView($event, navWrapper)">
    <a (click)="scrollToTop()" routerLink=""><img class="logo" src="../../assets/icons/icons8-gym-100.png" alt="logo"></a>
    <nav class="nav" [attr.data-visible]="navIsShowing" #nav>
        <ul class="nav-list">
            <li>
                <a class="nav-link" routerLink="" ><span>Home</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="premadeRoutines" ><span>Routines</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="aboutUs" ><span>About Us</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="contact" ><span>Contact</span></a>
            </li>
        </ul>
    </nav>
    <button class="show-nav-btn" (click)="showNav()">
        <!--<?xml version="1.0" encoding="utf-8"?> Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg width="48px" height="48px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 18L20 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
            <path d="M4 12L20 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
            <path d="M4 6L20 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </button>
</div>
