
/* General navbar layout */

.nav-wrapper {
    position: fixed;
    inset: 3% 0 85% 5%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger nav button */

.show-nav-btn {
    display: none;
    z-index: 100;
    background-color: transparent;
    border: none;
    margin-right: 1em;

    &:hover {
        cursor: pointer;
    }
}

/* Navbar styles */

.nav-list {
    display: flex;
    overflow: hidden;
    list-style: none;
    font-size: var(--fs-nav);
    padding: 1.25em 2em 1.25em 2em;
    background-color: var(--primary-red);
    border: 2px solid var(--primary-white);
    border-right: none;
    border-radius: 1em 0 0 1em;
    box-shadow: inset 0 0 .25em black;


    /* Line in the middle */
    &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 50% 0;
        z-index: -1;
        height: 2px;
        width: 100%;
        background-color: var(--primary-white);

    }
}

/* Navigation links styles and animations */

.nav-link {
    position: relative;
    text-decoration: none;
    padding: 1.4em 1em;
    color: var(--primary-white);

    & > span {
        position: relative;
        z-index: 30;
        transition: all .2s;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--primary-white);
        z-index: 20;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: all .2s;
    }

    &:hover {
        color: var(--primary-red);

        & > span {
            transition: all .2s;
        }

        &::before {
            transform: translateY(0);
            box-shadow: inset 0 0 .25em black;
            transition: all .2s;
        }
    }
    
}

/* Logo styles and animation */

.logo {
    padding: .25em;
    background-color: var(--primary-red);
    border: 2px solid var(--primary-white);
    border-radius: 50%;
    transition: all .2s;
    box-shadow: inset 0 0 .25em black;

    &:hover {
        background-color: var(--primary-white);
        transition: all .2s;
    }
}

/* Media */

@media (max-width: 900px) {
    .nav {
        transform: translateX(100%);
        position: fixed;
        background-color: var(--primary-red);
        inset: 0 0 0 60%;
        border-left: 2px solid var(--primary-white);
        transition: transform .2s;
    }   

    .nav-list {
        flex-direction: column;
        height: 40%;
        border: none;
        box-shadow: none;
        justify-content: space-around;
        margin: 6em 0 0 0;
        border-radius: 0;
        padding: 0;

        & > li {
            width: 100%;
        }

        &::before {
            display: none;
        }
    }
    
    .nav-link {
        display: block;
        width: 100%;

        &::before {
            transform: translate(-200%, 0);
        }

        &:hover::before {
            transform: translate(0, 0);
        }
    }

    .show-nav-btn {
        display: block;
    }
}

@media (max-width: 700px) {
    .nav {
        inset: 0 0 0 50%;
    }
}