
<div class="nav-wrapper">
    <a routerLink=""><img class="logo" src="../../assets/icons/icons8-gym-100.png" alt=""></a>
    <nav class="nav">
        <ul class="nav-list">
            <li>
                <a class="nav-link" routerLink="" ><span>Home</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="" ><span>Routines</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="" ><span>About Us</span></a>
            </li>
            <li>
                <a class="nav-link" routerLink="" ><span>Contact</span></a>
            </li>
        </ul>
    </nav>
</div>
