

<div class="searchbar">
    <input placeholder="Add an exercise" class="searchbar-input" type="search" (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="enteredSearchValue">
    <ul class="search-results" *ngIf="isOnFocus">
        <div (mousedown)="emitExerciseData(exercise)" *ngFor="let exercise of exercises | searchFilter: enteredSearchValue; let i = index">
            <li class="result">
                <p>
                    <span class="exercise-name">{{ exercise.name }}</span>
                    <br>
                    <span class="exercise-type">type:</span> {{ exercise.category }},
                    <span class="exercise-muscle">muscle:</span> {{ exercise.primaryMuscles }}
                </p>
            </li>
        </div>
    </ul>
</div>
