
.searchbar {
    padding-top: 1em;
}

.searchbar-input {
    position: relative;
    width: 80%;
    padding: .5em 1.5em;
    border-radius: 1.5em;
    border: none;
    transition: box-shadow .1s;

    &:focus {
        outline-style: none;
        box-shadow: inset 0 0 .5em var(--primary-dark);
        transition: box-shadow .1s;
    }
}

.search-results {   
    position: absolute;
    overflow-y: scroll;
    z-index: 10000;
    margin: 1em auto;
    width: 35%;
    max-height: 50vh;
    list-style: none;
    background-color: var(--primary-white);
    color: var(--primary-dark);
    box-shadow: 0 0 .5em var(--primary-dark);
    padding: 0;
    border-radius: .75em;

    &::-webkit-scrollbar { width: 8px; }
    &::-webkit-scrollbar-thumb {
        background-color: hsl(0 0% 70%);
        border-radius: 10px; 
        border: 2px solid var(--primary-white);
    }
}

.result {
   padding: .5em .5em .5em 1em;

   &:hover, &:focus {
        background-color: #e0cbff;
   }
}

.exercise-name {
    font-weight: 500;
    font-size: 1.125rem;
}

.exercise-type {
    font-weight: 500;
}

.exercise-muscle {
    font-weight: 500;
}

@media (max-width: 900px) {
    .search-results {
        width: 70%;
    }
}