
.main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.section-wrapper[data-secNumber="two"] {
    background-color: #272727;
    color: #fff;
}

.main-section {
    width: var(--page-width);
    margin: 0 auto;
    padding: 2em 0;
}

.get-started-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > * {
        text-align: center;
    }
}

.main-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-image {
    width: 60%;
}

.main-section {
    opacity: 0;
}

.appear {
    opacity: 1;
    transition: all .2s ease-in;
}