
/* General section styles */

.main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.section-wrapper[data-secNumber="two"] {
    background-color: var(--primary-dark);
    color: var(--primary-white);
}

.main-section {
    width: var(--page-width);
    margin: 0 auto;
    padding: 2em 0;
}

.section-header {
    font-size: 2rem;
}

/* Get started section */

.get-started-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 100%;
    color: var(--primary-dark);

    & > * {
        text-align: center;
    }
}

.section-btn {
    transform: scale(75%);
}

.svg-icon {
    margin: 0 auto;
}

.card {
    box-shadow: 0 0 .5em;
    border-radius: .75em;
    padding: 2em;
    & > h4 {
        font-size: 1.5rem;
        margin: .25em;
    }
    
    & > p {
        margin: .25em;
    }
}

/* Main info section */ 

.main-info {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3em;
}

.section-image {
    width: 30%;
    border-radius: .75em;
    background: radial-gradient(circle, var(--primary-white), var(--primary-red));
    padding: .5em;
}

@media (max-width: 850px) {
    .get-started-section {
        flex-direction: column;
    }

    .card {
        padding: .5em 2em;
    }

    .main-info {
        flex-direction: column;
    }

    .section-image {
        width: 100%;
    }
}

