
.main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.section-wrapper[data-secNumber="two"] {
    background-color: #272727;
    color: #fff;
}

.main-section {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 2em 0;
}

.section-image {
    width: 60%;
}