<main class="main">
    <div class="section-wrapper" data-secNumber="one">
        <section class="main-section">
            <div>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis esse consectetur, distinctio laboriosam ex vel!</p>
            </div>
            <app-get-started-btn></app-get-started-btn>
        </section>
    </div>
    <div class="section-wrapper" data-secNumber="two">
        <section class="main-section">
            <img class="section-image" src="../../assets/pexels-victor-freitas-841128.jpg" alt="">
            <div>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsa odio cumque eveniet voluptas voluptatem.</p>
            </div>
        </section>
    </div>
</main>