<main class="main">
    <div class="section-wrapper" data-secNumber="one">
        <section class="main-section get-started-section">
            <div class="get-started-info">
                <h2 class="section-header">Lorem, ipsum.</h2>
                <p class="section-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis esse consectetur, distinctio laboriosam ex vel!</p>
            </div>
            <app-get-started-btn class="section-btn"></app-get-started-btn>
        </section>
    </div>
    <div class="section-wrapper" data-secNumber="two">
        <section class="main-section main-info">
            <img class="section-image" src="../../assets/pexels-victor-freitas-841128.jpg" alt="">
            <div class="main-section-info">
                <h2 class="section-header">Lorem, ipsum.</h2>
                <p class="section-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsa odio cumque eveniet voluptas voluptatem.</p>
            </div>
        </section>
    </div>
</main>