
.profile-pic {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em;
    width: 60%;
    margin-inline: auto;
}
