
.searchbar-input {
    position: relative;
    width: 100%;
    padding: .5em;
    margin: 0 auto;
}

.search-results {   
    
    position: absolute;
    overflow-y: scroll;
    z-index: 10000;
    /*
    left: 33%;
    right: 33%;
    */
    margin: 0 auto;
    width: 30%;
    
    /*
    position: absolute;
    overflow-y: scroll;
    */
    max-height: 50vh;
    list-style: none;
    background-color: var(--primary-white);
    box-shadow: 0 .5em .5em var(--primary-dark);
    padding: 0;
}

.result {
   padding: .5em;
   border-bottom: 1px solid var(--primary-dark);
}