<div class="tables-container">
    <div
    #routineTable
    appObserveElement
    (intersection)="isOnView($event, routineTable)"
    [threshold]=".3"
    class="table-wrapper hide"
    *ngFor="let weekDay of weekDays">
        <app-routine-table (currentExercises)="updateExercisesByDay($event)" #routineTables [day]="weekDay" class="routine-table"></app-routine-table>
    </div>
</div>
<div class="export-pdf-btn-container">
    <button class="export-pdf-btn" (click)="exportPdf()">Export PDF</button>
</div>
