<div class="btn-wrapper">
    <a class="bnt-link" href="#">
        <div class="btn-link-content">
            <span class="btn-text">Get Started</span>
            <svg class="arrow-svg" width="90" height="60" viewBox="0 0 150 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame 1">
                    <rect width="150" height="100" fill="none"/>
                    <path class="arrow" id="arrow-one" d="M74.5 47.9711L7 86.9423L7 9L74.5 47.9711Z" fill="#ffffff"/>
                    <path class="arrow" id="arrow-two" d="M74.5 47.9711L7 86.9423L7 9L74.5 47.9711Z" fill="#ffffff"/>
                    <path class="arrow" id="arrow-three" d="M74.5 47.9711L7 86.9423L7 9L74.5 47.9711Z" fill="#ffffff"/>
                </g>
            </svg>
        </div>
    </a>
</div>