
/* General footer styles */

.footer {
    background-color: var(--primary-dark);
    color: var(--primary-white);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--page-width);
    margin-inline: auto;
    padding: 2em;
}

/* Footer nav */

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-list {
    list-style: none;
    padding: 0;

    & > * {
        margin: .5em;
    }
}

/* Social media icons */

.social-media-icons {
    display: flex;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 40px;
}

.logo {
    align-self: center;
    height: 80px;
}

/* Languages */

.languages-container {
    display: flex;
    flex-direction: column;

    & > * {
        margin: .5em;
    }
}

/* Contact info */

.btn {
    display: flex;
    margin-left: 0;
}

/* Media */

@media (max-width: 900px) {
    .footer-wrapper {
        flex-wrap: wrap;
    }
}