<footer>
    <nav class="footer-nav">
        <a href="">Home</a>
        <a href="">Routines</a>
        <a href="">About Us</a>
        <a href="">Contact</a>
    </nav>
    <div class="icon-wrapper">
        <img class="logo" src="../assets/04012019-25.jpg" alt="logo">
        <img class="icon" src="../assets/icons/logo-facebook.svg" alt="">
        <img class="icon" src="../assets/icons/logo-twitter.svg" alt="">
        <img class="icon" src="../assets/icons/logo-instagram.svg" alt="">
        <img class="icon" src="../assets/icons/logo-whatsapp.svg" alt="">
        <img class="icon" src="../assets/icons/logo-youtube.svg" alt="">
    </div>
    <div class="laguages-container">
        <a href="">English</a>
        <a href="">Español</a>
        <a href="">Português</a>
    </div>
    <div class="contact-info">
        <p>Customer support: xxx-xxxx-xxxx</p>
        <p>Location: xxxx, xxxx-xxxx</p>
        <app-get-started-btn></app-get-started-btn>
    </div>
</footer>