
/* General footer styles */

.footer {
    background-color: var(--primary-dark);
    color: var(--primary-white);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--page-width);
    margin-inline: auto;
    padding: 2em;
    gap: 2em;
}

/* Footer nav */

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-list {
    list-style: none;
    padding: 0;

    & > * {
        margin: .5em;
    }
}

/* Social media icons */

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.social-media-icons {
    display: flex;
    gap: .25em;
}

.icon {
    height: 40px;
    width: 40px;
    transition: all .1s;

    &:hover {
        .icon-fill {
            opacity: 1;
            transition: all .1s;
        }
    }
}

.icon-fill {
    fill: var(--primary-white);
    opacity: .5;
    transition: all .1s;

    &:hover {
        opacity: 1;
        transition: all .1s;
    }
}

.logo {
    align-self: center;
    height: 100px;
}

/* Contact info */

.contact-info {
    & > * + * {
        margin-top: .5em;
    }
}

.btn {
    display: flex;
    margin-left: 0;
}

/* Media */

@media (max-width: 1000px) {
    .footer-wrapper {
        flex-wrap: wrap;
    }

    .icon-wrapper {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 500px) {
    .footer-wrapper {
        font-size: 1.125rem;
    }
}