<footer class="footer">
    <div class="footer-wrapper">
        <nav class="footer-nav">
            <ul class="footer-nav-list">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="premadeRoutines">Routines</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <div class="icon-wrapper">
            <img class="logo" src="../assets/icons/icons8-gym-100.png" alt="logo">
            <div class="social-media-icons">
                <img class="icon" src="../assets/icons/logo-facebook.svg" alt="">
                <img class="icon" src="../assets/icons/logo-twitter.svg" alt="">
                <img class="icon" src="../assets/icons/logo-instagram.svg" alt="">
                <img class="icon" src="../assets/icons/logo-whatsapp.svg" alt="">
                <img class="icon" src="../assets/icons/logo-youtube.svg" alt="">
            </div>
        </div>
        <div class="languages-container">
            <a href="">English</a>
            <a href="">Español</a>
            <a href="">Português</a>
        </div>
        <div class="contact-info">
            <p>Customer support: xxx-xxxx-xxxx</p>
            <p>Location: xxxx, xxxx-xxxx</p>
            <div class="btn">
                <app-get-started-btn btnText="Contact"></app-get-started-btn>
            </div>
        </div>
    </div>
</footer>
